{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>New Meeting</title>
    <script>
        function createMeeting(event) {
            event.preventDefault();
            // Collect the meeting name and subject if needed
            var meetingName = document.getElementById('meetingName').value;
            var meetingSubject = document.getElementById('meetingSubject').value;

            // Redirect to Google Meet
            window.location.href = "https://meet.google.com/?hs=193&pli=1";
        }
    </script>
</head>

<body>
    <header>
        <div class="nav container">
            <div>
                <a href="home.html" class="websiteName">Meeting Navigator</a>
            </div>
            <ul class="navbar">
                <li><a href="{% url 'new_meeting' %}">New Meeting</a></li>
                <li><a href="LatestMeeting.html">Latest Meeting</a></li>
            </ul>
            <a href="#"><button>Sign Out</button></a>
        </div>
    </header>
    <div class="meetingLink">
        <section>
            <form onsubmit="createMeeting(event)">
                <label for="meetingName">Meeting Name: </label>
                <input id="meetingName" type="text" required minlength="2" maxlength="70" />
                <br /><br /><br />
                <label for="meetingSubject">Meeting Subject: </label>
                <input id="meetingSubject" type="text" required minlength="2" maxlength="70" />
                <br /><br /><br />
                <button type="submit">Create Meeting</button>
            </form>
        </section>
    </div>
</body>

</html>
