{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!----------------------------css links---------------------------------->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>New Meeting</title>
</head>

<body>
    <!--------------------------------navbar----------------------------------->
    <header>
        <div class="nav container">
            <div>
                <a href="{% url 'home' %}" class="websiteName">Meeting Navigator</a>
            </div>
            <ul class="navbar">
                <li><a href="{% url 'new_meeting' %}">New Meeting </a></li>
                <li><a href="{% url 'show_data' %}"> Last Meeting</a></li>
            </ul>
            <!-----------------------login buttom------------------------------>
            <a href="{% url 'login' %}"><button>Sign Out</button></a>
        </div>
    </header>
            <!------------------------new meeting--------------------------------->
    <div  class="mettingLink" >
        <section>
            <form id="meetingForm" method="post" action="{% url 'new_meeting' %}">
                {% csrf_token %}
                <label for="mettingName">Meeting Name : </label>
                <input class="" id="mettingName" name="meeting_name"  type="text" required minlength="2" maxlength="120" />
                <br />
                <br />
                <br />
                <label  for="mettingSubject">Email: </label>
                <input   class="" id="mettingSubject" name="email" type="text"  minlength="2" maxlength="70" />
                <br />
                <br />
                <br />
                <div class="space">
                    <button type="submit" id="record" >Record</button>
                    <button type="button" id="meeting">Create Meeting</button>
                </div>

            </form>
        </section>

    </div>
    <script>

        document.getElementById("meeting").addEventListener("click", function(event) {
         window.open("https://workspace.google.com/products/meet/", "_blank");
     });
     </script>

</body>
</html>