{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="nav container">
            <ul>
                <li><a href="{% url 'home' %}" class="websiteName">Meeting Navigator</a></li>
            </ul>
            <div>
                <a href="{% url 'signup' %}"><button>Sign Up</button></a>
            </div>
        </div>
    </header>
    <div class="login container">
        <div class="login-container">
            <h2>Log in To Continue</h2>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            <form method="POST" action="{% url 'login' %}" id="loginForm">
                {% csrf_token %}
                <span>Enter your email address</span>
                <input type="email" id="email" name="email" placeholder="yourmail@gmail.com" required>
                <div id="emailError" class="error-message"></div>
                <span>Enter your password</span>
                <input type="password" id="password" name="password" placeholder="password" required minlength="8">
                <div id="passwordError" class="error-message"></div>
                <input type="checkbox" id="showPassword"> Show Password
                <button type="submit" class="btn">Log In</button>
                <a href="#">Forget Password?</a>
            </form>
            <a href="{% url 'signup' %}" class="btn"><button class="btn">Sign up now</button></a>
        </div>
    </div>
    <script src="{% static 'js/validationLogin.js' %}"></script>
</body>
</html>
