{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <!--links to css-->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!--Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="nav container">
            <ul>
                <il><a href="{% url 'home' %}" class="websiteName">Meeting Navigator</a></il>
            </ul>
        </div>
    </header>
    <div class="login container">
        <div class="login-container">
            <h2>Log in To Continue</h2>
            <!-----------------login form--------------------->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="{% url 'login' %}" id="loginForm" method="POST">
                 {% csrf_token %}
                <span>Enter your email address</span>
                <input type="email" id="email" name="email" placeholder="yourmail@gmail.com" required>
                <div id="emailError" class="error-message"></div>
                <span>Enter your password</span>
                <input type="password" id="password" name="password" placeholder="password" required minlength="8">
                <div id="passwordError" class="error-message"></div>
                <button type="submit" class="btn"> Log In </button>
                <a href="#">Forget Password?</a>
            </form>
            <a href="{% url 'login' %}" class="btn"><button class="btn"> Sign up now</button></a>
        </div>
        <!------------------------log in image--------------->
        <!--<div class="login-image">
            <img src=" " alt="">
        </div>-->
    </div>
</body>
<script src="{% static 'js/validationLogin' %}"></script>
</html>