{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="nav container">
            <ul>
                <li><a href="{% url 'home' %}" class="websiteName">Meeting Navigator</a></li>
            </ul>
        </div>
    </header>
    <div class="login container">
        <div class="login-container">
            <h2 class="handelh2">Welcome, Let’s get started</h2>
              {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <form action="{% url 'signup' %}" id="signupForm" method="POST">
                {% csrf_token %}
                <span>Enter your full name</span>
                <input type="text" id="name" name="name" placeholder="your name" required minlength="3">
                <div id="nameError" class="error-message"></div>

                <span>Enter your email address</span>
                <input type="email" id="email" name="email" placeholder="yourmail@gmail.com" required>
                <div id="emailError" class="error-message"></div>

                <span>Phone</span>
                <input type="text" id="phone" name="phone" placeholder="Enter your number" required>
                <div id="phoneError" class="error-message"></div>

                <span>Enter your password</span>
                <input type="password" id="password" name="password" placeholder="password" required minlength="8">
                <div id="passwordError" class="error-message"></div>

                <button type="submit" class="btn">Sign Up</button>
                <a href="SignIn.html">Already have an account</a>
            </form>
            <a href="{% url 'login' %}" class="btn"><button class="btn">Log in</button></a>
        </div>
    </div>
</body>
<script src="{% static 'js/validation' %}"></script>
</html>
